<section id="home" class="hero-section">
    <div class="container hero-content">
        <div class="hero-text">
            <h1>
            Développeur <span class="text-gold">Fullstack</span> & <span class="text-violet">Salesforce</span>
            </h1>
            <p class="hero-description">
            Avec plus de 5 ans d'expérience en développement, je crée des solutions innovantes combinant Angular, Node.js, Java et l'écosystème Salesforce.
            </p>
            <button class="btn-primary" (click)="scrollToProjects()">
            Découvrir mes projets
            </button>
        </div>
        <div class="hero-card glass">
            <div class="avatar">
            <img 
                src="https://firebasestorage.googleapis.com/v0/b/solsolutionpdf.firebasestorage.app/o/prod%2Fimgs%2Fmoi.png?alt=media&token=3a5ce9f1-9fa9-45ef-ad27-974045974bcf" 
                alt="William Ndongmo" 
            />
            </div>
            <p class="name-style">William Ndongmo</p>
        </div>
    </div>
</section>